/* ==========================================================================
   #SOCIAL MEDIA
   ========================================================================== */

.c-social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-social-media--item{
  padding:10px;
  font-size: 18px;
  color: $contrast-color;
}