/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * This section is the _variables.scss file
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Resets de CSS
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Paragrahs............p styles.
 * a....................links styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */




/* ------------------------------------ *\
  GENERIC
\* ------------------------------------ */

* {
  box-sizing: border-box;
}

html {
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}




/* ------------------------------------ *\
  BASE
\* ------------------------------------ */

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 768px) {

  h1 {
    font-size: 3rem;
  } 

  h2 {
    font-size: 2rem;
  }   

  h3 {
    font-size: 1.5rem;
  } 
}





/* ------------------------------------ *\
  OBJECTS
\* ------------------------------------ */

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}




/* ------------------------------------ *\
  COMPONENTS
\* ------------------------------------ */

header {
  height: 30vh;
  background-image: url('/assets/images/bench-accounting-nvzvOPQW0gc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  max-width: 300px;
  height: auto;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
  transition: all 0.5s;
}

section {
  width: 70%;
  float: left;
  background-color: $cv-bg;
}

ul {
  display: flex;
  justify-content: space-around;

  & li {
    list-style: none;
  }
}
