/* ==========================================================================
   #SETTINGS
   ========================================================================== */

/**
  *Paragraphs
*/

p {
  font-size: 1em;
  margin-bottom: 1em;
}

@media (min-width: 768px) {

  p {
    font-size: 1.1em;
  }
}
    